<div class="wrapper">
  <nav class="bg-gray-800 pt-2">
    <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
      <div class="relative flex h-16 items-center justify-between">
        <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-center">
          <div class="flex space-x-4">
            <p class="bg-gray-900 text-white px-3 py-2 rounded-md text-sm font-medium">
              Current
              Exchange Rates:</p>
            <p class="bg-gray-900 text-white px-3 py-2 rounded-md text-sm font-medium" *ngFor="let rate of rates">
              {{rate.cc}}: {{rate.rate | currency: rate.cc}}</p>
            <p class="text-center text-white text-lg p-2" *ngIf="loading">Loading...</p>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <app-global-error></app-global-error>

  <main class="page">
    <app-converter [rates]="rates"></app-converter>
  </main>
</div>
